.header {
    width: 100%;
}

.header-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6.4rem;
}
.header-img {
    cursor: pointer;
}
